<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFullService" />
                <binding name="BasicHttpBinding_IServiceMinimized" />
                <binding name="BasicHttpBinding_IFullService1" />
                <binding name="BasicHttpBinding_IServiceMinimized1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58151/Service1.svc/Regular"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFullService"
                contract="RemoteServerFullService.IFullService" name="BasicHttpBinding_IFullService" />
            <endpoint address="http://localhost:58151/Service1.svc/Minimized"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMinimized"
                contract="RemoteServerFullService.IServiceMinimized" name="BasicHttpBinding_IServiceMinimized" />
            <endpoint address="http://localhost:58151/Service1.svc/Regular"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFullService1"
                contract="RemoteServerMinimizedService.IFullService" name="BasicHttpBinding_IFullService1" />
            <endpoint address="http://localhost:58151/Service1.svc/Minimized"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMinimized1"
                contract="RemoteServerMinimizedService.IServiceMinimized"
                name="BasicHttpBinding_IServiceMinimized1" />
        </client>
    </system.serviceModel>
</configuration>